#tensorflow == 1.15.5   # CPU Version of TensorFlow.
#tensorflow-gpu == 1.15.5  # GPU version of TensorFlow.
toposort
networkx
pytest
nltk
tqdm
html2text
progressbar

#for multigpu on linux
nvidia-pyindex==1.0.5
nvidia-tensorflow[horovod]==1.15.5